<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <img class="image" src="images/Yonatan.jpg">
            <!--- "/home/student/Desktop/1914564_1063697663671666_6041961967697823188_n.jpg">-->
         </div>
         <div class="col-md-4">
             <div class="textcolor">
             <h1><b>Yonatan Zewde</b></h1>
             <h3>Web Designer</h3>
             </div>
             <P> <span class="glyphicon glyphicon-home">12101 New Hampshire Ave. Silver Spring, MD</span></p>
             <p> <span class="glyphicon glyphicon-phone">555-555-5555</span></p>
             <P> <span class="glyphicon glyphicon-envelope">xxx@gmail.com</span></p>
             <p>Website: www.wwww.com</p>
         </div>
     </div>
     <div class="textcolor">
     <h2>Objective</h2></div>
     <div class="row">
         <div class="col-xs-2">

             <p></p>
         </div>
         <div>
             <div class="col-md-2">
                 <p>To take a position as a software engineer.</p>
             </div>
         </div>
     </div>
     <div>
         <div class="textcolor">
     <h2>Education</h2></div>
     <div class="row">
         <div class="col-xs-2">
             <div class="textcolor">
             <p>Sep. 2012 - Dec. 2016</p>
             </div>
         </div>
         <div class="col-md-2">
                 <p>Graduated in Electrical Engineering from Morgan State University</p>
         </div>
     </div>
         <div class="row">
             <div class="col-xs-2">
                 <div class="textcolor">
                     <p>Oct. 2017 - Dec. 2017</p>
                     </div>
             </div>
             <div class="col-md-2">
                 <p>Attended Bootcamp at Montgonery College Java Web Developing </p>
             </div>
         </div>
 <div class="textcolor">
     <h2> Experiance</h2></div>
     <div class="row">
         <div class="col-xs-2">
              <div class="textcolor">
             <p>May 2009 - Feb. 2010</p>
              </div>
         </div>
         <div class="col-md-3">
             <h4>DC water</h4>
             <p>IT Specialist</p>
             <ul>
                 <li>Imaging PCs to the local server</li>
                 <li>Helped and trained users to use their machine  effectively</li>
             </ul>
         </div>
     </div>
         <div class="row">
             <div class="col-xs-2">
                 <div class="textcolor">
                 <p>Jun. 2007 - Feb. 2010</p>
                     </div>
             </div>
             <div class="col-md-3">
                 <h4>American Engineering Inc.</h4>
                 <p>Electric Power Designer</p>
                 <ul>
                 <li>Designed electric power distrribution for a commercial building</li>
                 <li>Drafted a design for the user to follow</li>
                 </ul>
             </div>
         </div>
     <div class="textcolor">
         <h2>Skill</h2></div>
         <div>
         <div class="row">
             <div class="col-xs-2">
                 <div class="textcolor">
                 <p>Software Knowledge</p>
                     </div>
             </div>
             <div class="col-md-1">

                     <li>Photoshop</li>
                     <li>flash</li>
                     <li>After effect</li>

             </div>
             <div class="col-md-1">

                     <li>Illustrator</li>
                     <li>Fireworks</li>
                     <li>Cinima 4D</li>
             </div>
             <div class="col-md-1">

                     <li>Indesign</li>
                     <li>Dreamweaver</li>
                     <li>Maya</li>

             </div>
         </div>
         </div>
 </div>
 <a href="www.facebook.com" class="fa fa-facebook"></a>
 <a href="www.twittwer.com" class="fa fa-twitter"></a>
 <a href="www.linkedin.com" class="fa fa-linkedin"></a>

                     <script
                             src="https://code.jquery.com/jquery-3.2.1.js"
                             integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                             crossorigin="anonymous"></script>
                     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                             integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                             crossorigin="anonymous"></script></div>
 </body>
 </html>